<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <h1>Welcome to Quoting Dojo</h1>
    </div>
            <form action="/quotes" method="post">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                    <label for="quote">Your quote:</label>
                    <input type="text" class="form-control" id="quote" placeholder="Enter quote" name="quote">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/quotes" class="btn btn-primary">Skip to quotes!</a>
            </form>
</body>

</html>